.main {
    padding-top: 5%;
}

#button1{
    animation: button1 2s ease;
    position: relative;
}

#button2{
    animation: button1 3s ease;
    position: relative;
}

#button3{
    animation: button1 4s ease;
    position: relative;
}

#wholeArm{
    animation: arm 1s ease;
    animation-direction: reverse;
    animation-iteration-count: 3;
    transform-origin: left;
}

#wholeImage{
    animation-name: image;
    animation-duration: 50s;
}

#wholeImage2{
    opacity: 0;
    animation: image1 50s;
    position: relative;
}

#wholeImage3{
    opacity: 0;
    animation: image2 50s;
    position: relative;
}

@keyframes image {
    0%{transform: translate(0px, 0px)}
    2%{transform: translate(170px, 20px)}
    100%{transform: translate(170px, 20px)}
}

@keyframes image1 {
    2%{transform: translate(0px, 0px); opacity: 1}
    8%{transform: translate(170px, 145px); opacity: 1}
    100%{transform: translate(170px, 145px); opacity: 1}
}

@keyframes image2 {
    4%{transform: translate(0px, 0px); opacity: 1}
    8%{transform: translate(170px, 270px); opacity: 1}
    100%{transform: translate(170px, 270px); opacity: 1}
}

@keyframes arm {
    0%{transform: rotate(20deg)}
}

@keyframes button1 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
