#window{
    animation: window 1s infinite alternate-reverse;
}

#manTop{
    animation: man 0.5s ease infinite alternate-reverse ;
}

#head{
    animation: man 1s ease infinite alternate-reverse ;
}


@keyframes circleT {
    0%{fill: #e6e6e6;}
    100%{fill: #6C63FF;}
}
@keyframes circleR {
    0%{fill: #e6e6e6;}
    100%{fill: #6C63FF;}
}
@keyframes circleL {
    0%{fill: #e6e6e6;}
    100%{fill: #6C63FF;}
}
@keyframes circleB {
    75%{fill: #e6e6e6;}
    100%{fill: #6C63FF;}
}

@keyframes head {
    0%{transform: translate(0, 0)}
    100%{transform: translate(0, 2px)}
}

@keyframes man {
    0%{transform: translate(0, 0)}
    100%{transform: translate(0, 2px)}
}


@keyframes window {
    0%{transform: translate(0, 0)}
    100%{transform: translate(0, 25px)}
}

.main{
    padding-top: 5%;
    width: 100%;
}

@media screen and (max-width: 650px){

    body{
        position: relative;
    }

}