.drop-box{
    width: 345px;
    height: 180px;
    border: 2px solid darkgray;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: white;
}

#convert-button{
    margin-top: 20px;
    margin-left: 25%;
    color: #6C63FF ;
    background-color: white;
    border-color: #6C63FF;
    position: relative;
    top: 0;
    transition: top ease 1s;
}

#convert-button:hover{
    top: -5px;
    background-color: #6C63FF;
    color: white;
}

.input-button{
    width: 80%;
    margin: 10% 10% 8px;
}

.drop-text{
    color: grey;
}

#epub-drop{
    background-color: greenyellow;
    margin-top: 20px;
}

#pdf-drop{
    background-color: dodgerblue;
    margin-top: 20px;
}

.file-display{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    margin-right: 10%;
}